<div class="container mt-5">
    <h3>Employee Details</h3>
  
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  
    <div *ngIf="!isLoading && employee">
      <table class="table table-bordered">
        <tr><th>Name</th><td>{{ employee.first_name }} {{ employee.last_name }}</td></tr>
        <tr><th>Email</th><td>{{ employee.email }}</td></tr>
        <tr><th>Gender</th><td>{{ employee.gender }}</td></tr>
        <tr><th>Designation</th><td>{{ employee.designation }}</td></tr>
        <tr><th>Department</th><td>{{ employee.department }}</td></tr>
        <tr><th>Salary</th><td>{{ employee.salary }}</td></tr>
        <tr><th>Date of Joining</th><td>{{ employee.date_of_joining | date }}</td></tr>
        <tr *ngIf="employee.employee_photo">
          <th>Photo</th>
          <td><img [src]="employee.employee_photo" width="100" /></td>
        </tr>
      </table>
  
      <button mat-raised-button color="primary" routerLink="/employees">Back</button>
    </div>
  
    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
  </div>
  